<div class="dashboard-card">
    <div class="dashboard-card-header">
        <h3 class="dashboard-card-title">País Seleccionado</h3>
    </div>
    <div class="dashboard-card-content">
        <div class="country-info">
            <div class="country-info-item">
                <span class="country-info-label">País:</span>
                <!--{country.name}-->     
            </div>
            <div class="country-info-item">
                <span class="country-info-label">Capital:</span>
                <!--{country.capital}-->
            </div>
            <div class="country-info-item">
                <span class="country-info-label">Región:</span>
                <!--{country.region}-->
            </div>
            <div class="country-info-item">
                <span class="country-info-label">Latitud:</span>
                <!--{country.latitude}-->
                <span class="country-info-label" style="margin-left: 10px">
                    Longitud:
                </span>
                <!--{country.longitude}-->
            </div>
        </div>
    </div>
</div>