<div class="users-container">
    <div class="users-header">
        <h1>Usuarios</h1>
    </div>
    <div class="users-content">
        <!--<UsersToolbar onFilterChange={handleFilterChange} filterValue={filterText} />
      <UsersTable users={currentRecords} loading={loading} />
      <UsersPagination
        currentPage={currentPage}
        totalPages={totalPages}
        totalRecords={totalRecords}
        recordsPerPage={recordsPerPage}
        onPageChange={handlePageChange}
        startRecord={indexOfFirstRecord + 1}
        endRecord={Math.min(indexOfLastRecord, totalRecords)}-->
        <app-toolbar />
        <app-table />
        <app-pagination />
    </div>
</div>