<div class="users-pagination">
    <div class="pagination-info">
        Mostrando registros del XXX al XXX de un total de xxx
    </div>
    <div class="pagination-controls">
        <button class="pagination-button" disabled=true>
            Primero
        </button>
        <button class="pagination-button" disabled=true>
            Anterior
        </button>
        <button class="pagination-button active">1</button>
        <button class="pagination-button" disabled=true>
            Siguiente
        </button>
        <button class="pagination-button" disabled=true>
            Último
        </button>
    </div>
</div>